.left table tr td {
    border: 1px solid white;
    color:gray;
    padding: 5px;
}
.head {
    font-size: 16px;
    font-weight: bold;
}

label {
    color: rgba(128, 123, 123, 1);
}
h1 {
    color: grey;
}
input {
    display: block;
}
.left{
    width: 600px;
    float: left;
    display: inline-block;
	padding: 0 20px;
}

.right{
    width: 1080px;
    float: right;
    display: inline-block;
}

.right:after{
    display: block;
    content: "";
    clear: both;
}

#home {
    height: 100%;
    margin: 0 auto;
    background-image: url("../img/bg.jpg");
    background-size:100%;
    background-repeat: no-repeat;
}

.wrapper {
    width: auto;
    height: 700px;
}

.login table, tr, td {
     border: none;
 }

.login {
    margin-left: 20%;
    margin-top: 15%;
}

.login .btnLogin {
    width: 250px;
    margin-top: 10px;
    border-radius: 7px/20px;
}

.addNew {
    border: 1px solid white;
    background-color: white;
    border-radius: 30px;
    margin: 10px;
    width: 100px;
    text-align: center;
    padding: 5px;
	transition: .2s ease all;
}

.addNew a {
    text-decoration: none;
    color: gray;
}

input,select {
	margin: 7px 0px 7px 10px;
	padding: 3px;
	border-radius: 7px/20px;
}

input[type=submit] {
	padding: 3px;
	transition: .2s ease all;
}

input[type=submit]:hover, .addNew:hover {
	transform:scale(1.05);
	font-weight: bold;
}

.left h1{
	margin: 10px;
	font-weight: bold;
}