table, tr, td {
    border: 1px solid white;
    color:gray;
}

h1 {
    color: gray;
}
input {
    display: block;
}
.left{

    width: 300px;
    float: left;
    display: inline-block;
}

.right{

    width: 1000px;
    float: right;
    display: inline-block;
}

.right:after{
    display: block;
    content: "";
    clear: both;
}

#home {
    margin: 0 auto;
    background-image: url("../img/bg.jpg");
    background-size:100%;
    background-repeat: no-repeat;
}

.wrapper {
    width: auto;
    height: 700px;
}

.login table, tr, td {
     border: none;
 }

.login {
    margin-left: 20%;
    margin-top: 15%;
}

.login #btnLogin {
    width: 250px;
    margin-top: 10px;
    border-radius: 30px;
}